[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/RenanBomtempo/imgui.git
	branch = docking
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/NodensEngine/implot.git
