[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheDreamCycle/imgui-cmake.git
	branch = docking
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/TheDreamCycle/implot-cmake.git
[submodule "vendor/implot3d"]
	path = vendor/implot3d
	url = https://github.com/TheDreamCycle/implot3d-cmake.git
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
