[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TheDreamCycle/imgui.git
	branch = docking-cmake
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/TheDreamCycle/implot.git
